---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
        title="About Me"
        description="Lorem ipsum dolor sit amet"
        pubDate={new Date('August 08 2021')}
        heroImage="/about-me.jpg"
        category=""
        type="post"
>
    <p>
        I’m Sebastian Cardozo (sebastiancoding), a software engineer who enjoys solving problems with code and learning
        something new every day. Over the years, I’ve built web apps, APIs, and microservices using different
        technologies like Go, Java, JavaScript, TypeScript and many other tools. But honestly, it's more about the
        process than the tools—it’s about figuring out how to make things work.
    </p>

    <p>
        When I’m not deep into code, you’ll probably find me travelling to new places, working out, scouting for photo
        locations or doing activities to spike my adrenaline. I do love balance: challenging my mind by trying new
        things and the body with movement.
    </p>

    <p>
        Here is where I share a bit of both worlds—tech insights and life matters. Feel free to stick around and
        explore.
    </p>
</Layout>
