---
import {getLangFromUrl, useTranslations} from "../i18n/utils";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import {SITE_DESCRIPTION} from '../consts';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={t('site.title')} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
    <h1>Hello, Decoder!</h1>
    <p>
        Welcome to my corner of the digital world, where code meets life. I'm Sebastian Cardozo (sebastiancoding),
        a software engineer navigating tech industry and sharing raw reflections from my journey. This is where
        logic and lived experience come together, offering insights on both.
    </p>
    <p>
        Curious to learn more? Check out my latest programming articles at <a href="/blog/decode-spot">DecodeSpot™</a>
        or explore personal stories in <a href="/blog/act-of-breathing">The Act of Breathing</a>. Each click
        takes you deeper into code, or closer to understand the human experience.
    </p>
</main>
<Footer/>
</body>
</html>
