---
import Layout from '../../layouts/BlogPost.astro';
---

<Layout
        title="Sobre Mí"
        description="Lorem ipsum dolor sit amet"
        pubDate={new Date('August 08 2021')}
        heroImage="/about-me.jpg"
        category=""
        type="post"
>
    <p>
        Soy Sebastián Cardozo (sebastiancoding), un ingeniero de software al que le gusta resolver problemas y aprender
        algo nuevo cada día. A lo largo de los años, he construido aplicaciones web, APIs y microservicios con varias
        tecnologías como Go, Java, JavaScript, TypeScript y muchas otras herramientas. Pero, para ser sincero, se trata
        más del proceso que de las herramientas: de cómo hacer que las cosas funcionen.
    </p>

    <p>
        Cuando no estoy sumergido en el código, probablemente me encuentres viajando, entrenando, buscando lugares para
        fotografiar o haciendo actividades que disparen mi adrenalina. Me gusta el equilibrio: desafiar mi mente
        explorando cosas nuevas y mi cuerpo con movimiento.
    </p>

    <p>
        Aquí es donde comparto un poco de ambos mundos: ideas sobre tecnología y relatos de la vida. Siéntete libre de
        explorar.
    </p>
</Layout>
